@font-face {
    font-family: 'Existence';
    src: url('./fonts/Existence-Light-webfont.eot');
    src: url('./fonts/Existence-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('./fonts/Existence-Light-webfont.woff') format('woff'),
         url('./fonts/Existence-Light-webfont.ttf') format('truetype'),
         url('./fonts/Existence-Light-webfont.svg#ExistenceLight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
  font-family: 'Junction';
  src: url('./fonts/Junction-webfont.eot');
  src: url('./fonts/Junction-webfont.eot?#iefix') format('embedded-opentype'),
       url('./fonts/Junction-webfont.woff') format('woff'),
       url('./fonts/Junction-webfont.ttf') format('truetype'),
       url('./fonts/Junction-webfont.svg#junctionregularRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}

/*
 * General
 */
body {
	background-color: #FBFAF7;
}

ul {
	list-style-type:none;
	margin: 0;
}

li {
	display: inline-block;
}

/*
 * Header
 */
header {
	height: 200px;
	width: 100%;
	margin: 0;
	background-color: #111111;
	border-bottom: 2px solid #30A63D;
	-webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.6);
	   -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.6);
		 -o-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.6);
			box-shadow: 0 2px 5px rgba(0, 0, 0, 0.6);
}

header #headerContent {
	position: relative;
	width: 800px;
	margin: 0 auto;
	padding-top: 20px;
}

header img {
	position: absolute;
	left: 5px;
	top: 20px;
	height: 150px;
	border: 2px solid #777;
}

header #rightToImage {
	position: absolute;
	left: 150px;
	top: 30px;
	width: 600px;
}

header h1 {
	font-family: "Existence", Arial;
	font-size: 48px;
	font-weight: normal;
	color: #999;
	margin: 0;
	margin-left: 10px;
}

header p {
	font-family: "Junction", Arial;
	font-size: 16px;
	color: #ddd;
	margin-left: 15px;
	margin-top: 20px;
	text-indent: 20px;
	line-height: 140%;
}

/*
 * Content and boxes
 */
#bodyContent {
	width: 800px;
	margin: 0 auto;
}

#who, #where {
	float: left;
	margin-top: 20px;
	width: 400px;
	background-color: #666;
	box-shadow: 3px 3px 8px #888;
}

#who h2, #where h2 {
	width: 390px;
	margin-top: 0;
	padding-top: 4px;
	padding-left: 10px;
	background-color: rgba(255,255,255,0.5);
	color: #fff;
	font-family: "Existence", Arial;
	font-size: 30px;
	font-weight: normal;
/*	box-shadow: 1px 4px 6px #666;
*/}

#who p {
	color: #ddd;
	margin: 5px 10px;
	text-indent: 20px;
	text-align: justify;
	font-family: "Junction", Arial;
}