@font-face {
    font-family: 'Existence';
    src: url('./fonts/Existence-Light-webfont.eot');
    src: url('./fonts/Existence-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('./fonts/Existence-Light-webfont.woff') format('woff'),
         url('./fonts/Existence-Light-webfont.ttf') format('truetype'),
         url('./fonts/Existence-Light-webfont.svg#ExistenceLight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
  font-family: 'Junction';
  src: url('./fonts/Junction-webfont.eot');
  src: url('./fonts/Junction-webfont.eot?#iefix') format('embedded-opentype'),
       url('./fonts/Junction-webfont.woff') format('woff'),
       url('./fonts/Junction-webfont.ttf') format('truetype'),
       url('./fonts/Junction-webfont.svg#junctionregularRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}

/*
 * General
 */
body {
	background-color: #FBFAF7;
}

.clearer {
	clear: both;
	margin-bottom: 50px;
}

h2 {
	color: #fff;
	margin-top: 0;
	font-size: 30px;
	padding-top: 4px;
	padding-left: 10px;
	font-weight: normal;
	font-family: "Existence", Arial;
	background-color: rgba(255,255,255,0.5);
	-webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.4);
	   -moz-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.4);
		 -o-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.4);
			box-shadow: 0 2px 2px rgba(0, 0, 0, 0.4);
	-webkit-text-shadow: 0 2px 5px rgba(0, 0, 0, 0.6);
	   -moz-text-shadow: 0 2px 5px rgba(0, 0, 0, 0.6);
		 -o-text-shadow: 0 2px 5px rgba(0, 0, 0, 0.6);
			text-shadow: 0 2px 5px rgba(0, 0, 0, 0.6);
}
}

ul {
	list-style-type:none;
	text-align: center;
	margin: 0 0 10px 0;
}

li {
	display: inline-block;
	margin: 2px 2px;
	/*width: 48px;*/
}

a {
	font-family: "Junction", Arial;
	font-size: 15px;
  color: #67BCE6;
}

a:hover {
  text-decoration: none;
  color: #39ADE6;
}

/*
 * Header
 */
header {
	height: 200px;
	width: 100%;
	margin: 0;
	background-color: #111111;
	border-bottom: 2px solid #30A63D;
	-webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.6);
	   -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.6);
		 -o-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.6);
			box-shadow: 0 2px 5px rgba(0, 0, 0, 0.6);
}

header #headerContent {
	position: relative;
	width: 750px;
	margin: 0 auto;
	padding-top: 20px;
}

header img {
	position: absolute;
	left: 5px;
	top: 20px;
	height: 150px;
	border: 2px solid #777;
}

header #rightToImage {
	position: absolute;
	left: 150px;
	top: 30px;
	width: 600px;
  height: 160px;
}

header h1 {
	margin: 0;
	color: #999;
	font-size: 48px;
	margin-left: 10px;
	font-weight: normal;
	font-family: "Existence", Arial;
}

header p {
	color: #ddd;
	font-size: 16px;
	margin-top: 20px;
	margin-left: 15px;
	text-indent: 20px;
	line-height: 140%;
  text-align: justify;
	font-family: "Junction", Arial;
}

header a {
  position: absolute;
  right: 0;
  bottom: 0px;
  color: #30A63D;
}

/*
 * Content and boxes
 */
#bodyContent {
	width: 750px;
	margin: 0 auto;
}

/* Shadow for all boxes (with hover handling) */
#who, #where, #website, #blog, #projects, #projectsList div {
	box-shadow: 3px 3px 8px #888;
	-webkit-transition: all 0.2s linear;
	   -moz-transition: all 0.2s linear;
		 -o-transition: all 0.2s linear;
			transition: all 0.2s linear;
}

#who:hover, #where:hover, #website:hover, #blog:hover, #projects:hover, #projectsList div:hover {
	box-shadow: 2px 2px 6px #222;
}
	/*
	 * "Who" & "Where" boxes
	 */
	#who, #where {
		float: left;
		width: 400px;
		margin-top: 20px;
		background-color: #666;
	}

	#who {
		height: 220px;
	}

  #who.fr {
    height: 260px;
  }

	#where {
		height: 160px;
	}

	#who h2, #where h2 {
		width: 390px;
		/* box-shadow: 1px 4px 6px #666; */
	}

	#who p {
		color: #DDD;
		margin: 5px 10px;
		text-indent: 20px;
    line-height: 150%;
		text-align: justify;
		font-family: "Junction", Arial;
		font-size: 15px;
	}

	#where #linkContainer {
		margin-top: 10px;
		padding: 1px 5px 3px 30px;
	}

	#where #linkContainer a {
		font-family: "Junction", Arial;
		font-size: 14px;
	}

	/*
	 * "Website" & "Blog" boxes
	 */
	#website, #blog {
		float: right;
		margin-top: 20px;
		position: relative;
		width: 257px;
	}

	#website {
		height: 257px;
	}

	#blog {
		height: 107px;
	}

	#website:hover, #blog:hover {
		cursor: pointer;
	}

	#website h2, #blog h2 {
		top: 0;
		left: 0;
		width: 247px;
		position: absolute;
	}

	/* image to bright so I set the h2 a bit more dark*/
	#blog h2 {
		background-color: rgba(150,150,150,0.5);
	}

	/*
	 * "Projects" box
	 */
	#projects {
		float: left;
		width: 750px;
		margin-top: 20px;
		background-color: #666;
	}

	#projects:hover {
		cursor: pointer;
	}

	#projects p {
		color: #DDD;
		margin: 5px 0 5px 20px;
		font-family: "Junction", Arial;
	}

	/*
	 * "ProjectsList" box
	 */
	#projectsList {
		width: 750px;
	}

	#projectsList div {
		width: 750px;
		height: 225px;
		margin-top: 20px;
		opacity: 0;
		float: left;
		position: relative;
		background-color: rgba(100,100,100,0.1);
	}

	#projectsList div img {
		position: absolute;
		top: 0;
		left: 0;
		width: 225px;
		height: 225px;
	}

	#projectsList div h3 {
		position: absolute;
		top: 0;
		right: 20px;
		font-family: "Junction", Arial;
	}

	#projectsList div p {
		position: absolute;
		top: 55px;
		left: 260px;
		color: #444;
		margin-right: 40px;
		text-indent: 20px;
		text-align: justify;
		font-family: "Junction", Arial;
	}

	#projectsList div a {
		position: absolute;
		bottom: 5px;
		right: 20px;
	}

/*
 * About page
 */
header.about {
  height: 10px;
}

#aboutContent {
  position: relative;
	width: 750px;
	margin: 0 auto;
  margin-top: 20px;
  box-shadow: 3px 3px 8px #888;
  background-color: #666;
}

#aboutContent a#backButton {
  position: absolute;
  right: 15px;
  top: 8px;
}

#aboutContent #baby {
  float: right;
  width: 208px;
  height: 300px;
  margin: 10px 20px 0 20px;
  background-image: url(../assets/images/baby.jpg);
  background-repeat: no-repeat;
  box-shadow: inset 1px 2px 8px #000;
}

#aboutContent p {
  color: #DDD;
  margin: 20px;
  padding-bottom: 14px;
  text-indent: 20px;
  line-height: 150%;
  text-align: justify;
  font-family: "Junction", Arial;
  font-size: 16px;
}

/*
 * Creative Commons Licence
 */
#licence {
  text-align: center;
  padding-top: 50px;
  margin-bottom: 50px;
}
