    <section id="top" class="row">
      <div class="col-md-8 col-md-offset-2">
        <div class="row">
          <div class="col-md-4">
            <img src="./images/profile-picture.jpg" alt="Profile picture" />
          </div>
          <div class="col-md-8">
            <h1>Hi. I'm <strong>David Guyon</strong>.</h1>
            <p>I'm a 25 year old french PhD student at the <a href="http://www.inria.fr/">Inria</a> laboratory (Rennes). I joined the <a href="https://team.inria.fr/myriads">Myriads</a> team in September '15. Before that I got my Research Master's degree in Computer Science at <a href="http://master.irisa.fr/index.php/en/">Irisa</a> in Rennes. Two years before, I lived in Edinburgh (Scotland) to get my Bachelor of Engineering in Computer Science at <a href="http://www.napier.ac.uk/">Edinburgh Napier University</a>. </p>
            <p>Feel free to download <a href="/files/CV-EN.pdf">my English résumé</a> or <a href="/files/CV-FR.pdf">the french one.</a></p>
          </div>
        </div>
      </div>
    </section>

    <section id="last-publications" class="row">
      <div class="col-md-6 col-md-offset-3">
        <header>
          <h2>Last publications</h2>
          <p>The list just below contains the 5 last papers I wrote as first or second author.<br><a href="/publications.html">See all publications</a>. </p>
        </header>
        <ul class="list-unstyled">
  $publications$
        </ul>
      </div>
    </section>

    <section id="last-presentations" class="row">
      <div class="col-md-6 col-md-offset-3">
        <header>
          <h2>Last presentations</h2>
          <p>The list just below contains the 5 last presentations I gave in conferences.<br><a href="/presentations.html">See all presentations</a>. </p>
        </header>
        <ul class="list-unstyled">
  $presentations$
        </ul>
      </div>
    </section>

    <section id="last-courses" class="row">
      <div class="col-md-6 col-md-offset-3">
        <header>
          <h2>Last courses</h2>
          <p>The list just below contains the 5 last courses I gave to my students.<br><a href="/courses.html">See all courses</a>. </p>
        </header>
        <ul class="list-unstyled">
  $courses$
        </ul>
      </div>
    </section>

    <section id="portfolio" class="row">
      <div class="col-md-8 col-md-offset-2">
        <header>
          <h2>Here’s some stuff I made.</h2>
          <p>This is a list of the projects I made, the ones I started but haven't finished yet<br>(<em>and that I will probably never terminate</em>) and the projects I'm currently working on.</p>
        </header>
        <div class="container">
          <div class="row">
  $projects$
          </div>
        </div>
      </div>
    </section>

    <section id="contact" class="row">
      <div class="col-md-6 col-md-offset-3">
        <header>
          <h2>Here's my email address</h2>
          <p>If you'd like to contact me, well, feel free to use this email. I'll answer as soon as I can!</p>
          <h3><a href="mailto:david@guyon.me">david@guyon.me</a></h3>
          <p>Fingerprint: 6F71 511C 018C 8F0C D9BE E4A2 6BD0 9606 F891 BC99</p>
        </header>
        <div>
          <hr />
          <h3>Find me on ...</h3>
          <ul class="social list-inline">
            <li><a href="http://twitter.com/dgetux" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
            <li><a href="http://www.linkedin.com/profile/view?id=228475207" class="icon fa-linkedin"><span class="label">LinkedIn</span></a></li>
            <li><a href="http://github.com/dgetux" class="icon fa-github"><span class="label">Github</span></a></li>
            <li><a href="http://bitbucket.org/davidguyon" class="icon fa-bitbucket"><span class="label">Bitbucket</span></a></li>
          </ul>
          <hr />
        </div>
        <footer>
          <p>Generated with <a href="http://jaspervdj.be/hakyll">Hakyll</a></p>

          <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/deed.en_GB"><img alt="Creative Commons Licence" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-sa/3.0/88x31.png" /></a><br />
          This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/deed.en_GB">Creative Commons Attribution-NonCommercial-ShareAlike 3.0 Unported License</a>.
        </footer>
      </div>
    </section>
