    <section id="top" class="row">
      <div class="col-md-8 col-md-offset-2">
        <div class="row">
          <div class="col-md-4">
            <img src="./images/profile-picture.jpg" alt="Profile picture" />
          </div>
          <div class="col-md-8">
            <h1>Hi. I'm <strong>David Guyon</strong>.</h1>
            <p>I'm a 24 year old french PhD student at the <a href="http://www.inria.fr/">Inria</a> laboratory (Rennes). I joined the <a href="https://team.inria.fr/myriads">Myriads</a> team in September '15. Before that I got my Research Master's degree in Computer Science at <a href="http://master.irisa.fr/index.php/en/">Irisa</a> in Rennes. Two years before, I lived in Edinburgh (Scotland) to get my BEng in Computer Science at <a href="http://www.napier.ac.uk/">Edinburgh Napier University</a>. </p>
            <p><a href="./files/CV_en.pdf">Download my english CV</a> or <a href="./files/CV_fr.pdf">the french one.</a></p>
          </div>
        </div>
      </div>
    </section>

    <section id="last-publications" class="row">
      <div class="col-md-6 col-md-offset-3">
        <header>
          <h2>Last publications</h2>
          <p>The list just below contains the 5 last paper I wrote as first or second author. <a href="/publications.html">See all publications</a>. </p>
        </header>
        <ul class="list-unstyled">
  $publications$
        </ul>
      </div>
    </section>

    <section id="last-courses" class="row">
      <div class="col-md-6 col-md-offset-3">
        <header>
          <h2>Last courses</h2>
          <p>The list just below contains the 5 last courses I gave to my students. <a href="/courses.html">See all courses</a>. </p>
        </header>
        <ul class="list-unstyled">
  $courses$
        </ul>
      </div>
    </section>

    <section id="portfolio" class="row">
      <div class="col-md-8 col-md-offset-2">
        <header>
          <h2>Here’s some stuff I made.</h2>
          <p>This is a list of the projects I made, the ones I started but haven't finished yet<br>(<em>and that I will probably never terminate</em>) and the projects I'm currently working on.</p>
        </header>
        <div class="container">
          <div class="row">
            <!-- Dynamic lstopo -->
            <div class="col-md-3">
              <article class="box">
                <a href="https://bitbucket.org/davidguyon/dynamic-lstopo" target="_blank">
                  <img src="./images/projects/lstopo.png" alt="" />
                  <h3>Dynamic lstopo</h3>
                </a>
                <p>Update of <em>lstopo</em> with hardware perf. counters</p>
              </article>
            </div>
            <!-- Boat project -->
            <div class="col-md-3">
              <article class="box">
                <a href="http://blog.alexandre.berthaud.me/tags/pie-boat.html" target="_blank">
                  <img src="./images/projects/boat.jpg" alt="" />
                  <h3>Boat project</h3>
                </a>
                <p>DIY boat with a Raspberry Pi and an ATmega</p>
              </article>
            </div>
            <!-- SongAccoustic project -->
            <div class="col-md-3">
              <article class="box">
                <a href="http://songaccoustic.fr" target="_blank">
                  <img src="./images/projects/sa.png" alt="" />
                  <h3>Music project</h3>
                </a>
                <p>Website of the musical compositions I make</p>
              </article>
            </div>
            <!-- ENU Taxis project -->
            <div class="col-md-3">
              <article class="box">
                <a href="http://davidguyon.olympe.in" target="_blank">
                  <img src="./images/projects/enutaxis.png" alt="" />
                  <h3>ENU Taxis</h3>
                </a>
                <p>Taxis booking system for students in Edinburgh</p>
              </article>
            </div>
            <!-- Bomberman project -->
            <div class="col-md-3">
              <article class="box">
                <a href="http://github.com/dgetux/Bomberman" target="_blank">
                  <img src="./images/projects/bomberman.png" alt="" />
                  <h3>Bomberman</h3>
                </a>
                <p>A web version of Bomberman only with JS</p>
              </article>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="contact" class="row">
      <div class="col-md-6 col-md-offset-3">
        <header>
          <h2>Here's my email address.</h2>
          <p>If you'd like to contact me, well, feel free to use this email. I'll answer as soon as I can!</p>
          <h3><a href="mailto:david@guyon.me">david@guyon.me</a></h3>
        </header>
        <div>
          <hr />
          <h3>Find me on ...</h3>
          <ul class="social list-inline">
            <li><a href="http://twitter.com/dgetux" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
            <li><a href="http://www.facebook.com/GuyonDavid" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
            <li><a href="http://www.linkedin.com/profile/view?id=228475207" class="icon fa-linkedin"><span class="label">LinkedIn</span></a></li>
            <li><a href="http://plus.google.com/+DavidGuyon49" class="icon fa-google-plus"><span class="label">Google+</span></a></li>
            <li><a href="http://www.youtube.com/channel/UCp7SVos-3zWycwy3RSZWYVA" class="icon fa-youtube"><span class="label">YouTube</span></a></li>
            <li><a href="http://github.com/dgetux" class="icon fa-github"><span class="label">Github</span></a></li>
            <li><a href="http://bitbucket.org/davidguyon" class="icon fa-bitbucket"><span class="label">Bitbucket</span></a></li>
            <li><a href="http://foursquare.com/user/14223206" class="icon fa-foursquare"><span class="label">Foursquare</span></a></li>
            <li><a href="http://soundcloud.com/songaccoustic" class="icon fa-soundcloud"><span class="label">Soundcloud</span></a></li>
          </ul>
          <hr />
        </div>
        <footer>
          <p>Generated with <a href="http://jaspervdj.be/hakyll">Hakyll</a></p>

          <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/deed.en_GB"><img alt="Creative Commons Licence" style="border-width:0" src="http://i.creativecommons.org/l/by-nc-sa/3.0/88x31.png" /></a><br />
          This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/deed.en_GB">Creative Commons Attribution-NonCommercial-ShareAlike 3.0 Unported License</a>.
        </footer>
      </div>
    </section>
