    <section class="row" id="publication">
      <article class="col-md-6 col-md-offset-3">
        <header>
          <h2>$title$</h2>
          <p id="conference">$conference$</p>
          <p>Conference was on <strong>$date$</strong></p>
        </header>
        <h3>Authors</h3>
        <p id="authors">$authors$</p>
        <h3>Abstract</h3>
        <p id="abstract">$abstract$</p>
        <p id="link"><a href="$link$" target="_blank">Document available here</a></p>
      </article>
    </section>
